{
	"env": {
	  "production": {
		"plugins": [
		  "@babel/plugin-transform-react-constant-elements"
		]
	  }
	},
	"presets": [
	  [
		"@babel/preset-env",
		{
		  "targets": {
			"browsers": [
			  "last 2 version",
			  "Firefox ESR",
			  "> 1%",
			  "ie >= 9"
			]
		  },
		  "exclude": [
			"transform-regenerator"
		  ]
		}
	  ],
	  "@babel/preset-react",
	  "@babel/preset-typescript"
	],
	"plugins": [
	  [
		"import",
		{
		  "libraryName": "antd",
		  "libraryDirectory": "es",
		  "style": true
		}
	  ],
	  "@babel/plugin-proposal-optional-chaining",
	  "@babel/plugin-proposal-nullish-coalescing-operator"
	]
  }